################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebApplication/.vs/WebApplication/v16
/WebApplication/obj
